<div *ngIf="articles" class="row">
  <article *ngFor="let article of articles" class="col col-md-2 col-lg-4 mt-3">
    <div class="card">
      <div class="card-body h-100">
        <h5 class="card-title">{{article.name | titlecase}}</h5>
        <p class="card-text">{{article.description}}</p>
      </div>
      <div class="card-footer">
        <p>
          <span class="fw-bold">Stock:</span>
          {{article.stock}}
        </p>
        <p>
          <span class="fw-bold">Price:</span>
          {{article.price}}
        </p>
      </div>
    </div>
  </article>

  <ngb-pagination *ngIf="paginator"
    [collectionSize]="paginator.total"
    [page]="paginator.current_page"
    [pageSize]="paginator.per_page"
    (pageChange)="pageChange($event)"
    class="mt-3"/>
</div>
