@import "/../node_modules/bootstrap/scss/bootstrap";

.card {
  background: $gray-100;
  border-radius: 15px;
  height: 100%;
  display: flex;

  .card-title {
    font-weight: bolder;
  }

  .card-footer {
    background: $gray-100;
    border-top: none;
    border-radius: 15px;

  }
}

.header-top {
  background: darkgreen;
  color:white;
  height: 5rem;

  h1 {
    text-align: center;
  }

  div {
    display: flex;
    align-items: center;
  }
  button {
    background: greenyellow;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem ;
  }
}
